html {
  font-size: 62.5%; // 1.4rem = 14px, 2rem = 20px, 3.2rem = 32px
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $color-gray-woodsmoke;
  background-color: $color-white;
}
